[Unit]
Description=Outlivion API Service
After=network.target

[Service]
Type=simple
User=outlivion
Group=outlivion
WorkingDirectory=/opt/vpn-core
EnvironmentFile=/opt/vpn-core/.env
ExecStart=/usr/bin/node /opt/vpn-core/dist/server.js
Restart=always
RestartSec=10
StandardOutput=journal
StandardError=journal
SyslogIdentifier=VPN API

[Install]
WantedBy=multi-user.target

